.button {
    border: none;
    border-radius: 0.3rem;
    background-color: $colorPurpleLight;
    color: #fff;
    font-size: $sizeXSmall;
    padding: 0.5rem;
    outline: none;
    cursor: pointer;
    margin-right: 1rem;
    width: 17rem;
}
