// Colors

$colorPrimary: #37474F;
$colorSecondary: #455A64;
$colorPurple: #AA00FF;
$colorPurpleLight: #E040FB;

// Sizez

$sizeBig: 3rem;
$sizeMedium: 2.2rem;
$sizeSmall: 1.8rem;
$sizeXSmall: 1.6rem;