// Colors

$colorPrimary: #37474f;
$colorSecondary: #455a64;
$colorPurple: #aa00ff;
$colorPurpleLight: #e040fb;

// Sizez

$sizeBig: 3rem;
$sizeMedium: 2.2rem;
$sizeSmall: 1.8rem;
$sizeXSmall: 1.4rem;
